flask>=3.0
gunicorn>=22.0
firebase-admin>=6.5
python-dotenv>=1.0
langchain-together>=0.2
langchain-core>=0.3
langchain-text-splitters>=0.3
requests>=2.32
flask-cors>=4.0
pinecone>=3.0
pypdf>=4.0
fastembed>=0.4
whoosh>=2.7.4
